@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

html, body {
    padding: 0;
    margin: 0;
    background-image: url("background.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    height: 100%;
}
#MainMainDiv {
    height: 100%;
}

#titleDiv {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#title {
    font-family: "Cinzel";
    color: white;
    text-align: left;
    font-size: 76px;
}

#titleBlackJack {
    font-family: "Cinzel";
    color: white;
    text-align: center;
    font-size: 26px;
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    color: white; 
}

input[type="password"] {
    color: white; 
}

input[type="date"] {
    color: white; 
}

input[type="text"]::placeholder {
    color: white; 
}
#demo-simple-select-label {
    color: white;
}

#logo {
    width: 200px;
    height: 200px;
}

#logoGame {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

#topContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#forms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 150px;
    gap: 10px;
}

#form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.register {
    margin-top: 20px;
}

#mode_switch{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Blackjack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.mainContainer {
    width: 50%;
    height: 100%;
}

.reklama {
    width: 25%;
    height: 100%;
}
.reklama > img {
    width: 100%;
    height: 100%;
}

#menu {
    padding: 25px 25px 25px 25px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

#drugi_tryb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

a {
    text-decoration: none;
    cursor: pointer;
    width: 125px;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 4vh;
    border: 1px solid #ccc;
    outline: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-family: 'Cinzel';
}

::placeholder {
    color: black;
}

.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img{
    width: 100px;
    height: 145px;
}